<div class="container">
    <h1>Administración</h1>
    <div class="button-bar">
        <button class="action-btn" data-target="addProductContent">Agregar Producto</button>
        <button class="action-btn" data-target="updateProductContent">Actualizar Producto</button>
        <button class="action-btn" data-target="deleteProductContent">Eliminar Producto</button>
        <button class="action-btn" data-target="purchaseHistoryContent">Historial de Compras</button>
    </div>

    <!-- Secciones de contenido -->
    <div class="actionContent" id="addProductContent">
        <h2>Agregar Nuevo Producto</h2>
        <form id="productForm" class="form-grid">
            <div class="form-group">
                <label for="code">Código</label>
                <input type="text" id="code" name="code" required />
            </div>
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" id="title" name="title" required />
            </div>
            <div class="form-group">
                <label for="priceList">Precio</label>
                <input type="number" id="priceList" name="priceList" required />
            </div>
            <div class="form-group">
                <label for="stock">Stock</label>
                <input type="number" id="stock" name="stock" required />
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <input type="text" id="description" name="description" required />
            </div>
            <div class="form-group">
                <label for="category">Categoría</label>
                <select id="category" name="category" required>
                    <option value="">Seleccione una categoría</option>
                    <option value="Botiquin">Botiquín</option>
                    <option value="Aromaterapia">Aromaterapia</option>
                    <option value="Fisico">Físico</option>
                </select>
            </div>
            <button type="submit">Agregar Producto</button>
        </form>
    </div>
    <div class="actionContent" id="updateProductContent">
        <input class="search-input" type="text" placeholder="Buscar producto" id="searchProductUpdate" /> 
        <div class="productDisplay" id="products-update">
            {{#each products}} 
                <div class="product"> 
                    <p>{{name}}</p> 
                    <p>{{description}}</p> 
                    <button class="deleteButton" data-id="{{id}}">Delete</button> 
                </div> 
            {{/each}} 
        </div> 

    </div>
    <div class="actionContent" id="deleteProductContent">
        <div class="searchContent"> 
            <div class="productSelection" id="search-delete">
                <!-- Search bar --> 
                <div class="searchBar"> 
                    <i class="bi bi-search"></i> 
                    <input class="search-input" type="text" id="searchInputDelete" placeholder="Search product..."> 
                </div> 
                <div class="productDisplay" id="products-delete">
                    {{#each products}} 
                        <div class="product"> 
                            <p>{{name}}</p> 
                            <p>{{description}}</p> 
                            <button class="deleteButton" data-id="{{id}}">Delete</button> 
                        </div> 
                    {{/each}} 
                </div> 
            </div> 
        </div>
    </div>
    <div class="actionContent" id="purchaseHistoryContent">
        <h2>Historial de Compras</h2>
        <p>Sección en desarrollo...</p>
    </div>
</div>

<script src="/static/js/admin.js"></script>
<script>
    

    socket.on('deleteProduct', (data) => {
   const product = data;
   console.log("product por eliminar: ", product);


    });
</script>




