<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart</title>
  <link rel="stylesheet" href="static/css/cart.css">
</head>

<body>
  <div class="container">
    <h1>Your Cart</h1>
    <div id="cart-content" data-cart-id="{{cartId}}">
      {{#if products.length}}
      <ul class="product-list">
        {{#each products}}
        <li class="product-item">
          <div class="product-info">
            <span class="product-title">{{this.product.title}}</span>
            <span class="product-price">${{getPrice this.product}}</span>
          </div>
          <div class="product-quantity">
            Quantity: {{this.quantity}}
          </div>
        </li>
        {{/each}}
      </ul>
      <div class="cart-total">
        <strong>Total: ${{total}}</strong>
      </div>
      <div class="cart-actions">
        <button id="empty-cart" class="btn btn-danger">Empty Cart</button>
        <button id="complete-purchase" class="btn btn-success">Complete Purchase</button>
      </div>
      {{else}}
        <div id="empty-cart-message" class="message-container" style="display: block;">
          <p>Empty cart 游뗴</p>
          <a href="../home/" class="btn btn-primary">Continue Shopping</a>
        </div>
      {{/if}}
    </div>

    <div id="empty-cart-message" class="message-container" style="display: none;">
      <p>Empty cart 游뗴</p>
      <a href="../home/" class="btn btn-primary">Continue Shopping</a>
    </div>

    <div id="purchase-complete-message" class="message-container" style="display: none;">
      <p>Thank you very much for your purchase 游녧</p>
      <a href="../home" class="btn btn-primary">Continue Shopping</a>
    </div>
  </div>
  <script src="/static/js/cart.js"></script>

  <script>
    const socket = io();
    import { actionEmptyCart } from '/static/js/utils.js';

    socket.on('cartUpdate', (data) => {
      Swal.fire({
        title: '쮼st치s seguro de que desea vaciar carrito?',
        text: 'Esta acci칩n no se puede deshacer.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'S칤, vaciar carrito',
        cancelButtonText: 'Cancelar',
        reverseButtons: true,

      }).then(result => {
        //si el usuario confirma la acci칩n, ejecutar la funci칩n actionEmptyCart
        if (result.isConfirmed) {
          actionEmptyCart(data.data);
        }
      });
    });
  socket.on('confirmed', (data) => {
    Swal.fire({
        title: '쮼st치s seguro de que desea terminar la compra?',
        text: 'Esta acci칩n no se puede deshacer.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'S칤, confirmar compra',
        cancelButtonText: 'Cancelar',
        reverseButtons: true,

    }).then(result => {
        //si el usuario confirma la acci칩n, redirigir al inicio
        if (result.isConfirmed) {
            window.location.href = '/views/home';
        }
    });
  });

    
  

  </script>
</body>

</html>