<div class="container">
    <h1>Lista de Productos</h1>
    
    <ul>
        {{#each products.docs}}
            <li>
                <span>{{this.code}}</span>
                <span>{{this.title}}</span>
                <span>{{this.description}}</span>
                <span>${{this.priceList}}</span>
            </li>
        {{/each}}
    </ul>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{#if products.hasPrevPage}}
                <li class="page-item">
                    <a class="page-link" href="/views/?page={{products.prevPage}}&limit={{products.limit}}" aria-label="Previous">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>
            {{/if}}
            <li class="page-item disabled">
                <span class="page-link">Página {{products.page}} de {{products.totalPages}}</span>
            </li>
            {{#if products.hasNextPage}}
                <li class="page-item">
                    <a class="page-link" href="/views/?page={{products.nextPage}}&limit={{products.limit}}" aria-label="Next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>



